@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto:wght@900&display=swap');
.fullarea{
    padding-top: 30px;
    display: flex;
    padding-bottom: -30px;
}
.item{
    height: 70px;
}
img{
    height:50px
}
.ite{
    width: 33vw;
    
}
.item{
    width: 33vw;
    text-align: center;
}
span{
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
}
.icon{
    height:30px;
    width:30px;
    margin-left: 30px;
}