<div class="fullarea">
    <div class="fullseg">
        <div class="seg">
            <div class="sub">
                <span class="tit">ADDRESS</span>
                <svg class="str" height="80" width="50">
                    <g fill="none" stroke="#686b78">
                      
                      <path stroke-width="4" d="M5 40 l215 0" />
                      
                    </g>
                  </svg>
                <span class="dat">
                    {{hotel.address}}
                </span>
            </div>
            
        </div>
    <div class="seg">
        <div class="sub">
            <span class="tit">CUSINES</span>
            <svg class="str" height="80" width="50">
                <g fill="none" stroke="#686b78">
                  
                  <path stroke-width="4" d="M5 40 l215 0" />
                  
                </g>
              </svg>
            <span class="dat">{{hotel.cusine}}</span>
        </div>
    </div>
    <div class="seg">
        <div class="sub">
            <span class="tit">PHONE NUMBER</span>
            <svg class="str" height="80" width="50">
                <g fill="none" stroke="#686b78">
                  
                  <path stroke-width="4" d="M5 40 l215 0" />
                  
                </g>
              </svg>
            <span class="dat">{{hotel.phone}}</span>
        </div>
    </div>
    </div>
    <div class="fullseg">
        <div class="g">
            <img class="j" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_162,h_80/fssai_final_edss9i">
            <span class="fr">License No.{{hotel.hotel_liscenseno}}</span>
        </div>
    </div>
    
</div>
