<div class="footer1area">
    <div class="footerlist">
        <span class="footertit">COMPANY</span>
        <div class="listitem">
            <ul>
                <li>
                    About us
                </li>
                <li>
                    Team
                </li>
                <li>
                   Careers
                </li>
                <li>
                    Swiggy Blog
                </li>
                <li>
                    Bug Bounty
                </li>
                <li>
                    Swiggy Pop
                </li>
                <li>
                    Swiggy Super
                </li>
            </ul>
        </div>
    </div>
    <div class="footerlist">
        <span class="footertit">CONTACT</span>
        <div class="listitem">
            <ul>
                <li>
                    Help & Support
                </li>
                <li>
                    Partner With us
                </li>
                <li>
                   Ride with us
                </li>
                
            </ul>
        </div>
    </div>
    <div class="footerlist">
        <span class="footertit">LEGAL</span>
        <div class="listitem">
            <ul>
                <li>
                    Terms & Conditions
                </li>
                <li>
                    Refund & Cancellation
                </li>
                <li>
                   Privacy Policy
                </li>
                <li>
                    Cookie Policy
                </li>
                <li>
                    Offer Terms
                </li>
               
            </ul>
        </div>
    </div>
    <div class="footerlist">
        <div class="listitem listitem1">
            <div class="app-icon andr">
                <img class="andr" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/icon-AppStore_lg30tv">
          
            </div>
            <div class="app-icon ios">
                <img class="ios" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/icon-GooglePlay_1_zixjxl">
        
            </div>
        </div>
       
       
       </div>
</div>
