<div class="footer1area">
    <div class="box1">
        <span class="footertit pad">
            WE DELIVER TO
        </span>
    </div>
    <div class="box1">
        <div class="listitem">
            <ul>
                <li>Abohar</li>
                <li>Achalpur</li>
                <li>Adilabad</li>
                <li>Adityapur</li>
                <li>Adoni</li>
                <li>Agartala</li>
                <li>Agra</li>
                <li>Ahmedabad</li>
                <li>Ahmednagar</li>
                <li>Ajmer</li>
                <li>Akola</li>
                <li>Akot</li>
                <li>Alappuzha</li>
                <li>Aligarh</li>
                <li>Allahabad</li>
                <li>Alwar</li>
                <li>Amalner</li>
                <li>Ambala</li>
                <li>Ambikapur</li>
                <li>Ambur</li>
                <li>Amravati</li>
                <li>Amreli</li>
                <li>Amristar</li>
                <li>Amroha</li>
                <li>Anand</li>
                <li>Anantapur</li>
                <li>Anantapur</li>
                <li>Ankleshwar</li>  
                <li>Arrah</li>
                <li>Asansol</li> 
                <li>Ashoknagar</li>
                <li>Aurangabad_bihar</li>
                <li>aligarh</li>  
                <li> Baddi     </li>
                <li>Bagalkot</li>
                <li>Bagdogra</li>
                <li>Bahadurgarh</li>
                <li>Bahraich</li>
                <li> Bajpe</li>
                <li>Balaghat</li>
                <li> Ballari</li>
                <li>Ballarpur</li>
                <li>Balrampur</li>
                <li>Balurghat</li>
                <li>Bangalore</li>
                <li>Bangalore-Airport</li>
                <li>Bankura</li>
                <li>Banswara</li>
                <li>Bantwal</li>
                <li>Bapatlachirala</li>
                <li>Baramati</li>
                <li>Baraut</li>
                <li>Bardhaman</li>
                <li>Bardoli</li>
                <li>Bareilly</li>
                <li>Barnala</li>
                <li>Barshi</li>
                <li>Basirhat</li>
                <li>Basti</li>
                <li>Batala</li>
                <li>Bathinda</li>
                <li>Beawar</li>
                <li>Beed</li>
                <li>Begusarai</li>
                <li>Behror</li>
                <li>Belgaum</li>
                <li>Berhampore</li>
                <li>Berhampur</li>
                <li> Bettiah</li>
                <li>Betul</li>
                <li>Bhadrachalam</li>m
                <li>Bhadravati</li>
                <li>Bhagalpur</li>
                <li> Bhandara</li>
                <li>Bharabanki</li>
                <li>Bharatpur</li>
                <li>Bharuch</li>
                <li>Bhatapara</li>
                <li>Bhatkal</li>
                <li>Bhavnagar</li>
                <li>Bhilai</li>
                <li>Bhilwara</li>
                <li>Bhimavaram</li>
                <li>Bhind</li>
                <li>Bhiwadi</li>
                <li>Bhiwani</li>
                <li>Bhopal</li>
                <li>Bhubaneswar</li>
                <li>Bhuj</li>
                <li>Bhusawal</li>
                <li>Bidar</li>
                <li>Biharsharif</li>
                <li>Bijapur</li>
                <li>Bijnor</li>
                <li>Bikaner</li>
                <li>Bilaspur</li>
                <li>Bina</li>
                <li>Bodhan-Rural</li>
                <li>Bokaro</li>
                <li>Bolpur</li>
                <li>Bongaigaon</li>
                <li>Bongaon</li>
                <li>Botad</li>
                <li>Budaun</li>
                <li>Budhwal</li>
                <li>Bulandshahr</li>
                <li>Buldana</li>
                <li>Bundi</li>
                <li>Burhanpur</li>
                <li>Buxar</li>
                <li>Central-Goa</li>
                <li>Chalakkudy</li>
                <li>Chalisgaon</li>
                <li>Chandigarh</li>
                <li>Chandrapur</li>
                <li>Changanasherry</li>
                <li>Charkhi-Dadri</li>
                <li>Chennai</li>
                <li>Cherthala</li>
                <li>Chhapra</li>
                <li>Chhatarpur</li>
                <li>Chhindwara</li>
                <li>Chikkaballapur</li>
                <li>Chikmagalur</li>
                <li>Chilakaluripet</li>
                <li>Chitradurga</li>
                <li>Chittoor</li>
                <li>Chittorgarh</li>
                <li>Churu</li>
                <li>Coimbatore</li>
                <li>Cuddalore</li>
                <li>Cuttack</li>
                <li>Dabhoi</li>
                <li>Dabra</li>
                <li>Dahod</li>
            </ul>
        </div>
        <div class="listitem">
            <ul>
                
                <li> Damoh</li>
                    <li>Darbhanga</li>
                    <li>Darjeeling</li>
                    <li>Datia</li>
                    <li>Dausa</li>
                    <li>Davanagere</li>
                    <li>Dehradun</li>
                    <li>Dehri</li>
                    <li>Delhi</li>
                    <li>Deoghar</li>
                    <li>Dewas</li>
                    <li>Dhamtari</li>
                    <li>Dhanbad</li>
                    <li>Dhar</li>
                    <li>Dharamshala</li>
                    <li>Dharmapuri</li>
                    <li>Dharmavaram</li>
                    <li>Dhule</li>
                    <li>Dibrugarh</li>
                    <li>Digha</li>
                    <li>Dindigul</li>
                    <li>Doddaballapura</li>
                    <li>Duliajan</li>
                    <li>Durgapur</li>
                    <li>Eluru</li>
                    <li>Erode</li>
                    <li>Etawah</li>
                    <li>Faizabad</li>
                    <li>Faridabad</li>
                    <li>Faridkot</li>
                    <li>Farrukhabad</li>
                    <li>Fatehabad</li>
                    <li>Fatehgarh-Sahib</li>
                    <li>Fatehpur</li>
                    <li>Fazilka</li>
                    <li>Firozabad</li>
                    <li>Firozpur</li>
                    <li>Gadag-Betigeri</li>
                    <li>Gadwal</li>
                    <li>Gandhidham</li>
                    <li>Gaya</li>
                    <li>Gharaunda</li>
                    <li>Ghaziabad</li>
                    <li>Giridih</li>
                    <li>Godhra</li>
                    <li>Gohana</li>
                    <li>Gokak</li>
                    <li>Gokarna</li>
                    <li>Gonda</li>
                    <li>Gondal</li>
                    <li>Gondia</li>
                    <li>Gopalganj</li>
                    <li>Gorakhpur</li>
                    <li>Gudivada</li>
                    <li>Guna</li>
                    <li>Guntakal</li>
                    <li>Guntur</li>
                    <li>Gurdaspur</li>
                    <li>Gurgaon</li>
                    <li>Guwahati</li>
                    <li>Gwalior</li>
                    <li>Habra</li>
                    <li>Haldia</li>
                    <li>Haldwaniv</li>
                    <li>Halol</li>
                    <li>Hampi</li>
                    <li>Hansi</li>
                    <li>Hanumangarh</li>
                    <li>Hapur</li>
                    <li>Hardoi</li>
                    <li>Haridwar</li>
                    <li>Hassan</li>
                    <li>Himmatnagar</li>
                    <li>Hindupur</li>
                    <li>Hinganghat</li>
                    <li>Hisar</li>
                    <li>Hoshangabad</li>
                    <li>Hoshiarpur</li>
                    <li>Hospet</li>
                    <li>Hubli</li>
                    <li>Hyderabad</li>
                    <li>Ichalkaranji</li>
                    <li>Imphal</li>
                    <li>Indore</li>
                    <li>Irinjalakuda</li>
                    <li>Itarsi</li>
                    <li>Jabalpur</li>
                    <li>Jagdalpur</li>
                    <li>Jagraon</li>
                    <li>Jagtial</li>
                    <li>Jahanabad</li>
                    <li>Jaipur</li>
                    <li>Jalalabad</li>
                    <li>Jalandhar</li>
                    <li>Jalgaon</li>
                    <li>Jalna</li>
                    <li>Jalpaiguri</li>
                    <li>Jammu</li>
                    <li>Jamnagar</li>
                    <li>Jamshedpur</li>
                    <li>Janjgir</li>
                    <li>Jaunpur</li>
                    <li>Jhalawar</li>
                    <li>Jhansi</li>
                    <li>Jhunjhunu</li>
                    <li>Jind</li>
                    <li>Jodhpur</li>
                    <li>Jorhat</li>
                    <li>Junagadh</li>
                    <li>Kadapa</li>
                    <li>Kadiri</li>
                    <li>Kaithal</li>
                    <li>Kakinada</li>
                    <li>Kalaburagi</li>
                    <li>Kalady</li>
                    <li>Kamareddy</li>
                    <li>Kanchrapara</li>
                    <li>Kanker</li>
                    <li>Kannur</li>
                    <li>Kanpur</li>
                    <li>Kanyakumari</li>
                    <li>Kapurthala</li>
                    <li>Karad</li>
                    <li>Karaikkudi</li>
                    <li>Karimnagar</li>
                    <li>Karnal</li>
                    <li>Karunagappaly</li>
                    <li>Karur</li>
                    <li>Karwar</li>
                    <li>Kashipur</li>
                    <li>Katihar</li>
                    <li>Katni</li>
                    <li>Kavali</li>
                    <li>Kayamkulam</li>

            </ul>
        </div>
        <div class="listitem">
            <ul>
                <li>chennai</li>
                
                <li>Khammam</li>
                <li>Khandwa</li>
                <li>Khanna</li>
                <li>Kharagpur</li>
                <li>Khargone</li>
                <li>Kishanganj</li>
                <li>Kishangarh</li>
                <li>Kochi</li>
                <li>Kodaikanal</li>
                <li>Kolar</li>
                <li>Kolhapur</li>
                <li>Kolkata</li>
                <li>Kollam</li>
                <li>Korba</li>
                <li>Kota</li>
                <li>Kothagudem</li>
                <li>Kothamanagalam</li>
                <li>Kottarakkara</li>
                <li>Kottayam</li>
                <li>Kozhikode</li>
                <li>Krishnagiri</li>
                <li>Krishnanagar</li>
                <li>Kuchaman</li>
                <li>Kumbakonam</li>
            <li>Kumta</li>
            <li>Kundapura</li>
            <li>Kurnool</li>
            <li>Kurukshetr</li>
            <li>Lakhimpur</li>
            <li>Lalitpur</li>
            <li>Latur</li>
            <li>Lonavala</li>
            <li>Lucknow</li>
            <li>Ludhiana</li>
            <li>Machilipatli</li>
            <li>Madanapall</li>
            <li>Madikeri</li>
            <li>Madurai</li>
            <li>Mahasamund</li>
            <li>Mahbubnaga</li>
            <li>Malappuram</li>
            <li>Malda</li>
            <li>Malegaon</li>
            <li>Malout</li>
            <li>Mancherial</li>
            <li>Mandi-Dabwli</li>
            <li>Mandsaur</li>
            <li>Mandya</li>
            <li>Mangaluru</li>
            <li>Manipal</li>
            <li>Mansa</li>
            <li>Markapur</li>
            <li>Mathura</li>
            <li>Maunath-Bh</li>
            <li>Medak</li>
            <li>Medinipur</li>
            <li>Meerut</li>
            <li>Mehsana</li>
            <li>Miryalagud</li>
            <li>Mirzali</li>
            <li>Modin</li>
                <li>Moga</li>
                <li>Moodb</li>
                <li>Morad</li>
                <li>Morbi</li>
                <li>Moren</li>
                <li>Motih</li>
                <li>Mount</li>
                <li>Mugha</li>
                <li>Muktsi</li>
                <li>Mumba</li>
                <li>Munge</li>
                <li>Murde</li>
                <li>Musso</li>
                <li>Muvati</li>
                <li>Muzafli</li>
                <li>Muzaf</li>
                <li>Mysor</li>
                <li>Nabadli</li>
                <li>Nagao</li>
                <li>Nagapi</li>

                <li>Nagda</li>
                <li>Nager</li>
                <li>Nagpur</li>
                <li>Nagur</li>
                <li>Nainili</li>
                <li>Nalgoli</li>
                <li>Namakli</li>
                <li>Nande</li>
                <li>Nandu</li>
                <li>Nandyi</li>
                <li>Nanga</li>
                <li>Narai</li>
                <li>Narasi</li>
                <li>Narnai</li>
                <li>Narwai</li>
                <li>Nashi</li>
                <li>Nathd</li>
                <li>Navsai</li>
                <li>Neemui</li>
                <li>Nelloi</li>
                <li>Neyvei</li>
                <li>Nipan</li>
                <li>Nirma</li>
                <li>Nizam</li>
                <li>Noida</li>
                <li>Noidai</li>
                <li>North</li>
                <li>Ongol</li>
                <li>Ooty</li>
                <li>Orai</li>
                <li>Osman</li>
                <li>Palakli</li>
                <li>Palanli</li>
                <li>Palas</li>
                <li>Pali</li>
                <li>Palwa</li>
                <li>Pandh</li>
                <li>Panipi</li>
                <li>Parbhli</li>
                <li>Patan</li>
                <li>Pathankot</li>
                <li>Patiala</li>
                <li>Patna</li>
                <li>Phagwara</li>
                <li>Phaltan</li>
                <li>Pilani</li>
                <li>Pilibhit</li>
                <li>Pondicherry</li>
                <li>Porbandar</li>
                <li>Proddatur</li>
                <li>Pudukkottai</li>
                <li>Pune</li>
                <li>Puri</li>
            </ul>    </div>
        <div class="listitem">
            <ul>
                
                <li>Purnea</li>
                <li>Purulia</li>
                <li>Pushkar</li>
                <li>Puttur</li>
                <li>Rae-Bareli</li>
                <li>Raichur</li>
                <li>Raiganj</li>
                <li>Raigarh</li>
                <li>Raipur</li>
                <li>Rajahmundry</li>
                <li>Rajapalayam</li>
                <li>Rajkot</li>
                <li>Rajnandgaon</li>
                <li>Ramagundam</li>
                <li>Ramanathapuram</li>
                <li>Ramgarh</li>
                <li>Rampur</li>
                <li>Ranchi</li>
                <li>Ranibennur</li>
                <li>Raniganj</li>
                <li>Ratlam</li>
                <li>Ratnagiri</li>
                <li>Rayachoty</li>
                <li>Rewa</li>
                <li>Rewari</li>
                <li>Rishikesh</li>
                <li>Rohtak</li>
            </ul>
        </div>
    </div>
   
</div>
